@model PageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand navbar-light bg-success border-bottom sticky-top shadow content">
        <div class="d-flex justify-content-between">
            <a href="/Home/Index"> <img src="/logo.png" width="100" height="88" class="navbar-brand d-inline-block align-top" alt=""></a>
            <div class="row sticky-top">              
                <ul class="navbar-nav col-12 d-flex justify-content-between">
                    @*<li class="nav-item">
            <a class="text-light navbar-brand col-md-2" asp-area="" asp-controller="Home" asp-action="Index">&nbsp;Garip Sözlük</a>
        </li>*@
                    @if (Model != null)
                    {
                        <li class="nav-item">
                            <form class="form-inline" asp-controller="Header" asp-action="SearchHeader" asp-route-categoryId="@Model.SelectedCategoryId">
                                <input class="form-control mr-sm-2 col-md-8" type="text" name="searchText" placeholder="Search">
                                <button class="btn btn-success" type="submit">Search</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-link text-light nav-link" asp-controller="Header" asp-action="DetailedSearch" asp-route-categoryId="@Model.SelectedCategoryId">Detaylı Arama</a>
                        </li>

                    }
                    @if (Model != null)
                    {
                        <li class="nav-item">
                            <a class="btn btn-link text-light nav-link" asp-controller="Header" asp-action="GetRandomHeader" asp-route-categoryId="@Model.SelectedCategoryId">Rastgele Butonu</a>
                        </li>

                    }

                    @if (Model != null)
                    {
                        <li class="nav-item">
                            <a class="btn btn-link text-light nav-link" asp-controller="WebApi" asp-action="ApiSearchForm" asp-route-categoryId="@Model.SelectedCategoryId">Web Api</a>
                        </li>

                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="btn btn-link text-light nav-link" href="/Account/Register">Kayıt ol</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-link text-light nav-link" href="/Account/Login">Giriş Yap</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-link text-light nav-link" href="#">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-link text-light nav-link" href="@(Url.Action("Logout","Account"))">Çıkış</a>
                        </li>
                        @if (Model != null && Model.SelectedCategoryId != null)
                        {
                            <li class="nav-item">
                                <a class="btn btn-link text-light nav-link" asp-controller="Header" asp-action="NewHeader" asp-route-categoryId="@Model.SelectedCategoryId">Yeni Başlık</a>
                            </li>
                        }
                            <li class="nav-item">
                                <a class="btn btn-link text-light nav-link" asp-action="GetBanUsers" asp-controller="User">Engellenen Kullanıcılar</a>
                            </li>
                        }
                    </ul>
                <hr />
                <div class="col-12">
                    <div class="d-flex justify-content-between col-12">

                        @if (Model != null && Model.Categories != null)
                        {
                            foreach (var item in Model.Categories)
                            {
                                <div class="">
                                    <a class="nav-link text-dark col-md-2" asp-area="" asp-controller="Home" asp-route-categoryId="@item.Id" asp-action="Index">@item.Title</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="row ">
        <!-- Headers -->
        <div style="width:250px;position:fixed; height:100%;overflow:auto;">
            <div class="list-group">


                @if (Model != null && Model.Headers != null)
                {
                    foreach (var item in Model.Headers)
                    {
                        <a class="btn btn-outline-success" asp-area="" asp-route-headerId="@item.Id" asp-route-categoryId="@Model.SelectedCategoryId" asp-action="Index" asp-controller="Home">&nbsp;@item.Title <span class="badge badge-light">@item.PostCount</span></a>
                    }
                }
            </div>
        </div>

        <div class="col-12" style="margin-left:250px;">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
